body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3);
  margin: 0;
  padding: 0;
}

header, main, footer {
  grid-column: 1/13;
  margin: 0;
  padding: 0;
}

header {
  width: 100vw;
  height: 9vh;
  background-color: #1C9804;
  display: flex;
  justify-content: space-between;
}

footer {
  width: 100vw;
  height: 9vh;
  align-self: end;
  background-color: #1C9804;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}

main {
  width: 100vw;
  align-self: center;
  height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  padding-left: 25px;
  align-self: center;
  font-size: 2.2em;
  font-family: "BrunoAce";
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
  color: #1A3D0D;
  font-family: "ZenDots";
  font-weight: 1000;
  font-size: 3.2em;
  padding-top: 2%;
  padding-bottom: 2%;
}

.field {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "ZenDots";
  font-weight: 1000;
  font-size: 1.6em;
  padding-top: 2%;
}

input {
  margin-top: 4%;
  height: 40px;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1.6em;
}

.submit {
  width: 26vw;
  height: 7vh;
  background-color: #0a3d03;
  border: 0.8px solid black;
  color: white;
  text-align: center;
  font-family: "ZenDots";
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
  -webkit-text-stroke: 1px #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}