p, div {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#footer-author {
    align-self: center;
    font-size: 1.5em;
    font-family: "Monofett";
    color: white;
}

#link-container {
    padding-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

img {
    width: 60px;
    height: 60px;
    align-self: center;
}

.link {
    padding-right: 25px;
}

.link-tab {
    padding-right: 150px;
}