p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#header-user {
    padding-right: 15px;
    align-self: center;
    font-size: 1em;
    font-family: "BrunoAce";
    font-weight: 400;
    color: white;
    text-decoration: underline;
}