span {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}

.span_submit {
    justify-content: center;
}

#link_sign_up {
    margin: 0;
    padding: 0;
    color: #28942F;
    font-family: "ZenDots";
    font-weight: 1000;
    font-size: 1.6em;
    text-decoration: underline;
}